<nav class="hoo-breadcrumb" aria-label="breadcrumb" tabindex="0">
    <ol>
        {{#each breadcrumbItems }}
        <li class="hoo-breadcrumb-item">
            {{#if @last }}
            <a href="{{ link }}" class="hoo-breadcrumb-link" aria-current="location">{{ text }}</a>
            {{ else }}
            <a href="{{ link }}" class="hoo-breadcrumb-link">{{ text }}</a>
            {{/if}}
            {{#if separator }}
            <span class="hoo-breadcrumb-separator">
                {{> atoms-hoo-icon iconname="icon-chevron-right-filled" }}
            </span>
            {{/if }}
        </li>
        {{/each}}
    </ol>
</nav>