{{#input.text}}
<div class="hoo-input-group">
    <div class="hoo-input-prefix">{{ inputPrefix }}</div>
    <input class="hoo-input-text" type="text" placeholder="{{ placeholder }}" data-suffix="{{ inputSuffix }}" data-prefix="{{ inputPrefix }}">
    <div class="hoo-input-suffix">{{ inputSuffix }}</div>
</div>
{{/input.text}}