{{#input.toggle}}
<div class="hoo-toggle">
    <input type="checkbox" class="hoo-toggle-cb" name="{{ name }}" id="{{ getId "toggle" }}"><label for="{{ getLastId }}" class="hoo-toggle-label"><span class="hoo-toggle-slider"></span><span class="hoo-toggle-checked">{{ label.checked }}</span><span class="hoo-toggle-unchecked">{{ label.unchecked }}</span></label>
</div>
{{/input.toggle}}